.navbar .collapse .navbar-brand {
  position: center;
}

.navbar .collapse .navbar-nav .nav-item {
  margin: 0.2em 1em;
}

.navbar .collapse .navbar-nav .nav-item i {
  font-size: 22px;
  color: #ff9900;
}

.navbar .collapse .navbar-nav .nav-item a {
  padding: 0;
}

.navbar .collapse .navbar-nav .link a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  padding: 0;
}

.navbar .collapse .navbar-nav .link a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding: 0;
}
