.popup-base {
    position: fixed;
    min-height: 200px;
    z-index: 5;
}

.popup-base .toast {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.popup-base .toast .toast-header {
    background-color: #464646;
}

.popup-base .toast .toast-header strong {
    font-weight: normal;
    color: white;
    font-size: 18px;
}

.popup-base .toast .toast-header i {
    color: #ff9900;
    font-size: 18px;
}

.popup-base .toast .toast-body {
    z-index: 5
}

.popup-base .toast .toast-body i {
    color: #ff9900;
    font-size: 54px;
}

.popup-base .toast .toast-body p {
    color: #464646;
    font-size: 18px;
}