.success-page h1 {
    font-family: Roboto;
    font-weight: Bold;
    color: rgba(0, 0, 0, 0.8);
}

.success-page i {
    font-size: 60px;
    color: #ff9900;
}

.success-page .order-item {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}